header a{
    color: rgb(0, 0, 0);
    margin-left: 50px;}
header{
        background-color: rgb(255, 255, 255);
        height: 90px;
    }
    .a{
        float: right;
    }
    #jk {
        display: inline;
        margin-right: 10px;}
        #ui{
            display: inline;
            ;}
            #hj{
                float: right;
            }
        
        